{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:vue/vue3-essential",
    "@vue/eslint-config-airbnb"
  ],
  "overrides": [
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2021,
    "project": "./tsconfig.json",
    "sourceType": "module",
    "extraFileExtensions": [".vue"]
  },
  "plugins": [
      "vue"
  ],
  "rules": {
    "max-len": ["warn", 120],
    "vue/max-len": ["warn", 120],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "never"],
    "import/prefer-default-export": "off",
    "new-cap": "off",
    "import/no-extraneous-dependencies": "off",
    "consistent-return": "warn",
    "import/no-cycle": "warn",
    "no-alert": "warn",
    "no-console": "warn",
    "vue/no-unused-components": "warn",
    "no-param-reassign": "warn",
    "camelcase": "warn",
    "import/no-unresolved": "off",
    "vuejs-accessibility/click-events-have-key-events": "off",
    "import/extensions": "off"
  }
}
