{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb",
        "eslint-config-airbnb/base",
        "plugin:vue/vue3-essential"
    ],
    "overrides": [
    ],
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "plugins": [
        "vue"
    ],
    "rules": {
      "max-len": ["error", 120],
      "indent": ["error", 2],
        "object-curly-spacing": ["error", "never"],
        "import/prefer-default-export": "off",
        "new-cap": "off",
        "import/no-extraneous-dependencies": "off"
    }
}
