$colorGray1: #333333;
$colorGray2: #4F4F4F;
$colorGray3: #828282;
$colorGray4: #BDBDBD;
$colorGray5: #E0E0E0;
$colorGray6: #F2F2F2;
$colorWhite: #FFFFFF;

$colorRed: #EB5757;
$colorOrange: #F2994A;
$colorYellow: #F2C94C;

$colorGreen1: #219653;
$colorGreen2: #27AE60;
$colorGreen3: #6FCF97;

$colorBlue1: #2F80ED;
$colorBlue2: #2D9CDB;
$colorBlue3: #56CCF2;

$colorPurple1: #9B51E0;
$colorPurple2: #BB6BD9;

$colorBrand: #1c1c1c;
$colorBgBody: #E3E3E3;
