$colorGray1: #333333;
$colorGray2: #4F4F4F;
$colorGray3: #828282;
$colorGray4: #BDBDBD;
$colorGray5: #E0E0E0;
$colorGray6: #F2F2F2;
$colorWhite: #FFFFFF;

$colorRed: #EB5757;
$colorOrange: #F2994A;
$colorYellow: #F2C94C;

$colorDarkGreen: #219653;
$colorGreen: #27AE60;
$colorLightGreen: #6FCF97;

$colorDarkBlue: #2F80ED;
$colorBlue: #2D9CDB;
$colorLightBlue: #56CCF2;

$colorDarkPurple: #9B51E0;
$colorPurple: #BB6BD9;

$colorBrand: #1c1c1c;

$colorBgBody: #E3E3E3;
$colorBgCard: rgba(255, 255, 255, 0.75);
$colorBgActiveCard: $colorWhite;
