@import './colors';

@mixin borderRadius($radius: 8px) {
  border-radius: $radius;
}

@mixin borderCircle() {
  border-radius: 50%;
}


@mixin customScroll(
  $bgColor: #EAEAEA,
  $scrollColor: #8C63F7
) {
  overflow: hidden;
  overflow-y: auto;

  scrollbar-color: $bgColor $scrollColor;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    background-color: $bgColor;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: $bgColor;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $scrollColor;
  }
}

@mixin iconCircleWrapper(){
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: $colorWhite;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  img {
    display: block;

    max-width: 100%;
    max-height: 100%;
  }
}
