@import './colors';

@import "media";
@import 'mixins';


/*------------------
    Reset styles
------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  @include customScroll();
  margin: 0;
  padding: 0;

  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  -webkit-tap-highlight-color: transparent;
  text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
}

img {
  border-style: none;
}

textarea {
  overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
  margin: 0;

  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none transparent !important;
  box-shadow: none;

  -webkit-appearance: none;
  appearance: none;
  -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

:focus {
  outline: 0;
}

:hover,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}


::-ms-clear {
  display: none;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  display: inline-block;

  cursor: pointer;
  vertical-align: top;

  border: none;
  background: none;
}


html, body {
  background: #EAEEF6;
}


.iconCircleWrapper {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: $colorWhite;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  img {
    display: block;

    max-width: 100%;
    max-height: 100%;
  }
}

.flex-nowrap {
  flex-wrap: nowrap;
}


html,
body,
#rootVueApp {
  height: 100%;
}

body {
  color: #1C1C1C;
  font-family: "Inter", Helvetica, Roboto, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.23;
}

.cont-page {
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 42px;
    top: -14px;
    width: 497px;
    height: 309px;
    background: url(../img/pattern.svg) 50%/contain no-repeat;
  }

  @media (min-width: $mb_small) {
    &:before {
      left: 0;
      right: auto;
      max-width: 100%;
    }
  }

  @media (min-width: $mb_middle) {
    padding: 0 30px;

    &:before {
      left: -197px;
      top: -45px;
      width: 950px;
      height: 590px;
      max-width: none;
    }
  }

  @media (min-width: $mb_exlarge) {
    padding: 0 30px 0 278px;

    &.big {
      padding-left: 128px;
    }

    &:before {
      left: 47px;
    }
  }
}

.main-sector {
  flex: 1 0 auto;
  position: relative;
}

._flex {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.btn-purple {
  border: 1px solid #7458F8;
  font-weight: 700;
  font-size: 12px;
  line-height: 38px;
  color: #7458F8;
  text-decoration: none;
  text-align: center;
  padding: 0 23px;
  position: relative;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  transition: color .2s linear, border .2s linear;

  &::before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(84.09deg, #D485F1 4.37%, #7156F8 94.11%);
    border-radius: 50px;
    opacity: 0;
    transition: opacity .2s linear;
  }

  span {
    position: relative;
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: transparent;
      color: #fff;

      &:before {
        opacity: 1;
      }
    }
  }
}


.btn-green {
  background: linear-gradient(84.09deg, #2DC458 4.37%, #1ABAB0 94.11%);
  border-radius: 50px;

  padding: 0 41px;
  text-align: center;
  height: 48px;

  font: 14px/48px "Inter", Helvetica, Roboto, Arial, sans-serif;
  cursor: pointer;

  color: #FFFFFF;
  border: none;
  width: 100%;
  display: block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(84.09deg, #1ABAB0 4.37%, #2DC458 94.11%);
    border-radius: 50px;
    opacity: 0;
    transition: opacity .2s linear;
  }

  span {
    display: block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -26px;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background: url(../img/ic_phone.svg) 50%/contain no-repeat;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}

.btn-orange {
  background: linear-gradient(84.09deg, #EE4B60 4.37%, #FF8718 94.11%);
  border-radius: 50px;

  padding: 0 25px 0 20px;
  text-align: center;
  height: 48px;

  font: 14px/48px "Inter", Helvetica, Roboto, Arial, sans-serif;
  cursor: pointer;

  color: #FFFFFF;
  border: none;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(84.09deg, #FF8718 4.37%, #EE4B60 94.11%);
    border-radius: 50px;
    opacity: 0;
    transition: opacity .2s linear;
  }

  span {
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background: url(../img/ic_phone.svg) 50%/contain no-repeat;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}

.mob-menu-btn {
  flex-shrink: 0;
  margin-left: 10px;
  padding: 13px 10px;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.1);
}

.header__mob-menu-btn {
  margin-left: 34px;

  @media (min-width: $mb_exlarge) {
    display: none;
  }
}

.page-head {
  margin-bottom: 30px;

  &__title {
    font-weight: 300;
    font-size: 32px;
    line-height: 1.12;

    color: #1C1C1C;

    span {
      display: inline-block;
      vertical-align: top;
      padding-bottom: 19px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        bottom: 0;
        height: 4px;
        background: linear-gradient(90deg, rgba(87, 249, 181, 0) -2.28%, rgba(74, 250, 190, 0.75) 19.19%, #2DFCEF 41.9%, rgba(20, 254, 226, 0.33) 60.07%, rgba(14, 254, 230, 0.225366) 65.44%, rgba(0, 255, 240, 0) 77%);
      }
    }
  }
}


.footer {
  padding: 53px 0 30px;
  position: relative;

  @media (min-width: $mb_exlarge) {
    padding-bottom: 35px;
  }
}
